@import url("https://fonts.googleapis.com/css?family=Oswald");
html {
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif; }

p {
  margin: 0px; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: black; }

button {
  border: none; }

#fullPage {
  height: 93vh;
  margin-top: 50px;
  background-color: #3d5267; }

.nav-logo {
  font-size: 1.5rem;
  color: #cd6666; }

.nav-item {
  padding: 5px;
  font-weight: 600;
  font-size: 0.8rem;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  color: white;
  cursor: pointer; }

.nav-item:hover {
  background-color: white;
  color: black;
  cursor: pointer; }

.header {
  align-items: center;
  width: 100%;
  flex-wrap: wrap; }
  .header .img-wrapper {
    justify-content: center;
    display: flex;
    width: 100%; }
  .header #logo {
    font-size: 5rem;
    font-weight: bold;
    color: white; }
    .header #logo p {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: -10px;
      font-style: italic;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 400;
      font-size: 1.5rem; }

.margin-y-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.dflex {
  display: flex; }

.body-container {
  justify-content: center; }

.body-main {
  width: 80%;
  background-color: #fdf5e6;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.padding-right-15 {
  padding-right: 15px; }

#gallery {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  flex-wrap: wrap; }
  #gallery .column {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    align-items: flex-start;
    height: 100%; }
  #gallery .design-gallery-card {
    box-sizing: border-box;
    flex: 0 1 33%;
    width: 100%;
    transition: all .3s ease-in-out; }
    #gallery .design-gallery-card .flex-div {
      padding: 1rem;
      box-sizing: border-box; }
      #gallery .design-gallery-card .flex-div .card {
        padding: 15px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
        #gallery .design-gallery-card .flex-div .card .image {
          width: 100%;
          height: auto;
          border-radius: 3px; }

.body-head {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fdf5e6; }

#designGalleryHeader {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: #3d5267; }

#nav {
  height: 50px;
  width: 100%;
  background-color: #3d5267;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #nav div {
    margin-left: 10px;
    margin-right: 10px; }

.card {
  transition: all .5s; }

.card:hover {
  transform: scale(1.04); }

.text-center {
  text-align: center; }

.color-accent {
  color: #cd6666; }

.justify-center {
  justify-content: center; }

.justify-right {
  justify-content: flex-end; }

.align-center {
  align-content: center; }

.h100 {
  height: 100%; }

body {
  margin: 0px;
  background-color: white; }

#about {
  margin-top: -80px; }

#about-me-blob {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

#about-me-header {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: #3d5267;
  padding: 10px; }

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 5px; }

#scroll-to-top-button {
  border-radius: 5px; }
  #scroll-to-top-button .up-arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg); }

#scroll-to-top-button:hover {
  border-radius: 5px; }
  #scroll-to-top-button:hover .up-arrow {
    color: white;
    border-color: white;
    z-index: 500000; }

.button {
  padding: 15px;
  width: 50px;
  height: 50px; }

.button-accent {
  background-color: #3d5267;
  color: black; }

.button-accent:hover {
  color: #1d2b3a;
  background-color: black;
  cursor: pointer; }

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center; }
  .footer .gallery-button {
    background-color: #3d5267;
    padding: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px; }
    .footer .gallery-button a {
      color: white; }
  .footer .gallery-button:hover {
    background-color: #1d2b3a;
    cursor: pointer; }

#self-image {
  border-radius: 100px;
  border: 3px solid white; }

#anes-dashboard-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis: 100%; }
  #anes-dashboard-wrapper #dashboard-gallery {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-basis: 50%; }
  #anes-dashboard-wrapper #dashboard-info {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-basis: 50%; }

#dashboard-title {
  font-size: 1.5rem; }

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards; }

.come-in:nth-child(odd) {
  animation-duration: 0.6s;
  /* So they look staggered */ }

@keyframes come-in {
  to {
    transform: translateY(0); } }
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #gallery .column {
    flex-basis: 50%; }

  .nav-item {
    font-size: 0.9rem; }

  #nav {
    justify-content: center; }

  #anes-dashboard-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-basis: 100%;
    flex-wrap: wrap; }
    #anes-dashboard-wrapper #dashboard-gallery {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-basis: 100%; }
    #anes-dashboard-wrapper #dashboard-info {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-basis: 100%; } }
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #gallery .column {
    flex-basis: 100%; } }

/*# sourceMappingURL=main.css.map */
