//imports

@import url('https://fonts.googleapis.com/css?family=Oswald');


//sass
$main-color: #3d5267;
$main-light-1: #4d657d;
$main-light-2: #5a748e;
$main-dark-1: #2e4051;
$main-dark-2: #1d2b3a;
$accent-color: #cd6666;

@mixin vertical-align {
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

html{
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
}

p{
    margin: 0px;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
}

#fullPage{
    height:93vh;
    //background: linear-gradient(rgba(61,82,103,0.1), rgba(61,82,103,0.9));
    //background-image: url("/main/img/main-bg.jpg");
    //background: linear-gradient(rgba(61,82,103,0.9), rgba(61,82,103,1)), url("/main/img/main-bg.jpg") no-repeat center; 
    background-color: $main-color;

}

.nav-logo {
  font-size: 1.5rem;
  color: $accent-color;
}

.nav-item{
    padding: 5px;
    font-weight: 600;
    font-size: 0.8rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    color: white;
    cursor: pointer;
}
.nav-item:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.header{
    width: 100%;
    #logo{
        font-size: 5rem;
        font-weight: bold;
        color: white;
        @include vertical-align;
        p{
            font-weight: 400;
            font-size: 1.5rem;
        }
    }
}

.margin-y-3{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.dflex{
    display: flex;
}

.body-container{
    justify-content: center;
}

.body-main{
    width: 80%;
    background-color: #fdf5e6;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.padding-right-15{
    padding-right: 15px;
}

#gallery{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    .column{
        display: flex;
        flex-direction: column;
        flex-basis: 33%;
        align-items: flex-start;
        height: 100%;
    }
    .design-gallery-card{
        box-sizing: border-box;
        flex: 0 1 33%;
        width: 100%;  
        transition: all .3s ease-in-out;
        .flex-div{
            padding: 1rem;
            box-sizing: border-box;
            .card{
                padding: 15px;
                background-color: white;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
                .image{
                    width: 100%;
                    height: auto;
                    border-radius: 3px;
                }
            }
            
        }
        
    }
}

.body-head{
    width:100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fdf5e6;
}

#designGalleryHeader{
    font-size: 2.5rem; 
    margin-bottom: 10px;
    font-weight: 700;
    color: $main-color;
}

#nav{
    width: 100%;
    background-color: $main-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card{
    transition: all .5s;
}

.card:hover{
    transform: scale(1.04);
}

.text-center{
    text-align: center;
}

.color-accent{
    color: $accent-color;
}

.justify-center{
    justify-content: center;
}
.justify-right{
    justify-content: flex-end;
}
.align-center{
    align-content: center;
}

.h100{
    height:100%;
}

body {
    margin: 0px;
    background-color: white;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
  }
  
  @keyframes come-in {
    to { transform: translateY(0); }
  }


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    #gallery{
        .column {
            flex-basis: 50%;
        }
    }
    .nav-item{
        font-size: 0.9rem;
    }
    #nav{
        justify-content: center;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    #gallery{
        .column {
            flex-basis: 100%;
        }
    }

  }

  